/* Route Styles */
@import 'model-select.css';

/* Component Styles */
@import 'properties-panel.css';
@import 'configuration-panel.css';
@import 'attribute-panel.css';
@import 'content-area.css';
@import 'graph-visualizer.css';

/* Global Styles */
.unselectable {
  -webkit-user-select: none; /* Chrome/Safari */        
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+ */
}

.pointer:hover {
  cursor: pointer;
}

.grab:hover {
  cursor: -webkit-grab;
  cursor: -moz-grab;
}

.cursor--default:hover {
  cursor: default;
}

.section-title {
  padding: 5px;

  border-radius: 3px;
}

.form-margin {
  margin: 5px 0px;
}

.flush-right {
  right: 0px;
}

.flush-bottom {
  bottom: 0px;
}

.flush-left {
  left: 0px;
}

.attributes-offset {
  left: calc(100px + 5%)
}

.properties-offset {
  right: calc(100px + 5%)
}
