.attribute-panel--header {
  position: fixed;

  top: 0px;
  left: 0px;

  min-height: calc(3px + 5%);

  width: calc(100px + 5%);

  z-index: 100;
}

.attribute-panel--scrollable {
  position: relative;

  top: 5%;
  bottom: 5%;

  height: 90%;

  overflow-y: scroll;

  padding: 5% 0%;
}

.attribute-panel--scrollable::-webkit-scrollbar {
  display: none;
}

.attribute-panel__footer {
  position: fixed;

  bottom: 0px;
  left: 0px;

  min-height: calc(3px + 5%);

  width: calc(100px + 5%);
}

.attribute-panel__footer:hover {
  cursor: pointer;
}

.attribute-panel--expando:hover {
  cursor: pointer;
}
