.attribute-panel--header {
  position: fixed;

  top: 0px;
  left: 0px;

  width: calc(100px + 5%);

  z-index: 100;

  cursor: pointer;
}

.attribute-panel--scrollable {
  position: relative;

  overflow-y: scroll;

  padding: 5% 0%;
}

.attribute-panel--scrollable::-webkit-scrollbar {
  display: none;
}
