.content-area--title {
  text-align: center;

  top: 0px;
  right: 0px;
  left: 0px;

  border-bottom: 1px solid grey;
}

.content-area--properties-section {
  position: fixed;

  top: 0px;
  right: 0px;
  bottom: 0px;
  
  width: 10%;

  height: 100%;
}

.content-area--configuration-section {
  position: fixed;

  right: 10%;
  bottom: 0px;
  left: 10%;

  padding: 10px;

  border-top: 2px solid black;
}

.content-area--attribute-section {
  position: fixed;

  top: 0px;
  bottom: 0px;
  left: 0px;

  width: 10%;

  height: 100%;
}

.content-area--modal__body {
  margin: 0% 5%;
}

.content-area--btn__video {
  position: fixed;

  left: 10%;

  margin: 3px;
}