.content-area--title {
  text-align: center;

  top: 0px;
  right: 0px;
  left: 0px;

  border-bottom: 1px solid grey;
}

.content-area--properties-section {
  position: fixed;

  top: 0px;
  right: 0px;
  bottom: 0px;
  
  width: calc(100px + 5%);

  height: 100%;
}

.content-area--configuration-section {
  position: fixed;

  bottom: 0px;
}

.content-area--configuration-section__attributes {
  left: calc(100px + 5%);
}

.content-area--configuration-section__properties {
  right: calc(100px + 5%);
}

.content-area--configuration-section__flush-right {
  right: 0px;
}

.content-area--configuration-section__flush-left {
  left: 0px;
}

.content-area--attribute-section {
  position: fixed;

  top: 0px;
  bottom: 0px;
  left: 0px;

  width: calc(100px + 5%);

  height: 100%;
}

.content-area--modal__body {
  margin: 0% 5%;
}

.content-area--btn__video {
  position: fixed;

  margin: 3px;
}

.content-area--btn__video--offset {
  left: calc(100px + 5%);
}