.generic-form--center {
  position: relative;
  padding: 1px 5px;
  margin-left: 40%;
  margin-right: 40%;
}

.generic-form--dark {
  background: #c7dbf9;
}

.generic-form--rounded {
  border-radius: 10px;
}

.generic-form__title--center {
  position: static;
  text-align: center;
}
