.model-edit--title {
  text-align: center;

  top: 0px;
  right: 0px;
  left: 0px;

  border-bottom: 1px solid grey;
}

.model-edit--properties-section {
  position: fixed;

  right: 0px;
  left: 90%;

  height: 100%;
}

.model-edit--properties-section__footer {
  position: fixed;

  bottom: 0px;

  width: 10%;
}

.model-edit--configuration-section {
  position: fixed;

  right: 10%;
  bottom: 0px;
  left: 10%;

  padding: 10px;

  border-top: 2px solid black;
}

.model-edit--attribute-section {
  position: fixed;

  top: 0px;
  right: 90%;
  bottom: 0px;
  left: 0px;

  height: 100%;
}
