.properties-panel--header {
  position: fixed;

  top: 0px;
  right: 0px;

  min-height: 5%;

  width: 10%;

  z-index: 100;
}

.properties-panel--scrollable {
  position: relative;

  top: 5%;
  bottom: 5%;

  height: 90%;

  overflow-y: scroll;

  padding: 5% 0%;
}

.properties-panel--scrollable::-webkit-scrollbar {
  display: none;
}

.properties-panel__footer {
  position: fixed;

  right: 0px;
  bottom: 0px;

  min-height: 5%;

  width: 10%;
}

.properties-panel__form {
  padding: 0px 5%;
}
