.properties-panel--header {
  position: fixed;

  top: 0px;
  right: 0px;

  min-height: calc(3px + 5%);

  width: calc(100px + 5%);

  z-index: 100;
}

.properties-panel--scrollable {
  position: relative;

  top: 5%;

  overflow-y: scroll;

  padding: 5% 0%;
}

.properties-panel--scrollable__with-footer {
  bottom: 5%;

  height: 90%;
}

.properties-panel--scrollable__no-footer {
  bottom: 0%;

  height: 95%;
}

.properties-panel--scrollable::-webkit-scrollbar {
  display: none;
}

.properties-panel__footer {
  position: fixed;

  right: 0px;
  bottom: 0px;

  min-height: calc(3px + 5%);

  width: calc(100px + 5%);
}

.properties-panel__form {
  padding: 0px 5%;
}

.properties-panel--expando:hover {
  cursor: pointer;
}
