<div class="video-player__background--container">
  {{video-player class='video-player__background' playing=false looping=true url=model.videos.[2].fileName}}
</div>

{{#content-area class="content-area" focus=true data=model}}
  {{outlet}}
{{/content-area}}

