<div class="model-select--panel panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Model Selection</h3>
  </div>

  <div class="list-group">
    {{#each-in model as |key value|}}
        <button class="list-group-item">
          {{#link-to "main" (query-params modelfile=value.config.fileIdentifier)}}
            {{model-select-element name=value.config.prettyName description=value.config.description videos=value.videos backgroundVideos=value.config.backgroundVideos}}
          {{/link-to}}
        </button>
    {{/each-in}}
  </div>
    
  <div class="panel-footer">
      <h4 class="panel-title">Add Exhibit</h4>
  </div>
</div>
{{outlet}}
