<div class="media">
  <div class="media-left">
  <span class="media-object glyphicon glyphicon-picture"/>
  </div>
  <div class="media-body">
    <h4 class="media-heading">{{data.prettyName}}</h4>
    {{data.description}}
  </div>
</div>
