<h3>{{data.displayName}}<small> {{data.help}}</small></h3>

<form class="form-inline">
  {{form-contents noLabel=noLabel data=data}}
  <button type="submit" class="btn btn-success btn-xs">Submit {{title}}</button>
</form>
