<h3 class="generic-form__title--center">Adding {{data.displayName}}</h3>

<form class="form-horizontal">
  {{form-contents data=data}}
  <br><br>
  <div class="form-group">
    <div class="col-sm-10">
      <button type="submit" class="btn btn-success">Add {{data.displayName}}</button>
    </div>
  </div>
</form>
