.content-area {
  position: absolute;
  
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
}

.content-area:focus {
  outline: 0;
}

.bg-image {
  position: absolute;
  
  top: 0px;
  
  width: 100%;
  
  z-index: -100;
}
