.menu-bar--list--element {
  white-space: wrap;
  padding: 3px 20px;
}

.menu-bar--list--element:hover {
  cursor: pointer;
  background: #c0c1c4;
}

.menu-bar--dropdown {
  padding: 4px;
}

.menu-bar--list--element--border {
  border-width: 0px 0px 1px 0px;
  border-style: solid;
  border-color: black;
}

.filter-label {
  padding: 4px;
  font-weight: bold;
  font-size: 15px;
  color: white;
}

.menu-overlay {
  // variables
  $menu-max-height: 25vh;
  $menu-max-width: 25vw;
  $menu-collapse-height: 2vh;
  $menu-collapse-width: 1vw;
  // mixins
  @mixin menu-bar() {
    pointer-events: auto;
    background-color: #c0c1c4;

    display: flex;

    & > .controls {
      padding: 1em;
    }

    & > .items {
      display: flex;
      overflow: auto;
      justify-content: flex-start;

      & > .item {
        flex: 0 0 auto;
        margin: 1em;

        width: 5vw;

        cursor: pointer;
      }
    }
  }

  @mixin tag() {
    display: flex;
    justify-content: space-around;
    pointer-events: auto;

    & > * {
      opacity: 0.85;
      background-color: #666;
    }
  }

  @mixin horizontal-tag($tag-width) {
    @include tag();

    & > * {
      height: $menu-collapse-height;
      width: $tag-width;
    }
  }

  @mixin vertical-tag($tag-height) {
    @include tag();

    flex-direction: column;

    & > * {
      height: $tag-height;
      width: $menu-collapse-width;
    }
  }

  @mixin animate($name) {
    animation-name: $name;
    animation-duration: 0.5s;
    animation-timing-function: ease-in;
    animation-fill-mode: forwards;
  }
  // Keyframes
  @keyframes collapse-horizontal {
    0% { max-height: $menu-max-height; }
    85% { opacity: 1; }
    100% { max-height: 0vh; opacity: 0; }
  }

  @keyframes expand-horizontal {
    0% { max-height: 0vh; opacity: 0; }
    85% { opacity: 1; }
    100% { max-height: $menu-max-height; }
  }

  @keyframes collapse-vertical {
    0% { max-width: $menu-max-width; }
    85% { opacity: 1; }
    100% { max-width: 0vh; opacity: 0; }
  }

  @keyframes expand-vertical {
    0% { max-width: 0vh; opacity: 0; }
    85% { opacity: 1; }
    100% { max-width: $menu-max-width; }
  }
  // class rules
  position: absolute;

  top: 0px;
  left: 0px;

  height: 100vh;
  width: 100vw;

  display: grid;

  grid-template-columns: [left] fit-content($menu-max-width) [left-menu] auto [center] 1fr [right-menu] auto [right] fit-content($menu-max-width);
  grid-template-rows: [top] fit-content($menu-max-height) [top-menu] auto [center] 1fr [bottom-menu] auto [bottom] fit-content($menu-max-height);

  pointer-events: none;

  // Nested classes
  .collapse-horizontal {
    @include animate(collapse-horizontal);
  }

  .expand-horizontal {
    @include animate(expand-horizontal);
  }

  .collapse-vertical {
    @include animate(collapse-vertical);
  }

  .expand-vertical {
    @include animate(expand-vertical);
  }

  .menu-top {
    @include menu-bar();

    // necessary because firefox is dumb
    width: inherit;

    grid-column: left / -1;
    grid-row-start: top;

    border-bottom-right-radius: 0.5em;
    border-bottom-left-radius: 0.5em;
  }

  .menu-right {
    @include menu-bar();

    flex-direction: column;

    grid-column-start: right;
    grid-row: top / -1;

    border-top-left-radius: 0.5em;
    border-bottom-left-radius: 0.5em;

    & > .items {
      flex-direction: column;
    }
  }

  .menu-bottom {
    @include menu-bar();

    // necessary because firefox is dumb
    width: inherit;

    grid-column: left / -1;
    grid-row-start: bottom;

    border-top-right-radius: 0.5em;
    border-top-left-radius: 0.5em;
  }

  .menu-left {
    @include menu-bar();

    flex-direction: column;

    grid-column-start: left;
    grid-row: top / -1;

    border-top-right-radius: 0.5em;
    border-bottom-right-radius: 0.5em;

    & > .items {
      flex-direction: column;
    }
  }

  .menu-top-tag {
    $tag-width: 5vw;

    @include horizontal-tag($tag-width);

    grid-row-start: top-menu;
    grid-column: left / -1;

    & > * {
      $double-tag-width: 2 * $tag-width;

      border-bottom-right-radius: $double-tag-width;
      border-bottom-left-radius: $double-tag-width;
    }
  }

  .menu-right-tag {
    $tag-height: 10vh;

    @include vertical-tag($tag-height);

    grid-column-start: right-menu;
    grid-row: top / -1;

    & > * {
      $double-tag-height: 2 * $tag-height;

      border-top-left-radius: $double-tag-height;
      border-bottom-left-radius: $double-tag-height;
    }
  }

  .menu-bottom-tag {
    $tag-width: 5vw;

    @include horizontal-tag($tag-width);

    grid-row-start: bottom-menu;
    grid-column: left / -1;

    & > * {
      $double-tag-width: 2 * $tag-width;

      border-top-right-radius: $double-tag-width;
      border-top-left-radius: $double-tag-width;
    }
  }

  .menu-left-tag {
    $tag-height: 10vh;

    @include vertical-tag($tag-height);

    & > * {
      $double-tag-height: 2 * $tag-height;

      border-top-right-radius: $double-tag-height;
      border-bottom-right-radius: $double-tag-height;
    }
  }
}
