.video-player__video {
    width: 100%;
    border-radius: 5px;
}

.video-player__background--container {
  position: absolute;

  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;

  overflow: hidden;
  z-index: -100;
  align-content: center;
  background-color: black;
}

.video-player__fullscreen {
  position: absolute;

  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;

  overflow: hidden;
  z-index: 10;
}

.video-player__darken {
  opacity: 0.5;
}

.video-player__hidden {
  opacity: 0.0;
}

