.videoList {

}

.video-list--flex {
  display: flex;

  flex-flow: row wrap;

  justify-content: space-around;
}

.video-list-item {

}

.video-list-item--flex {
  align-self: auto;
  flex-basis: 5%;
  width: 160px;
  height: 90px;
}