.video-list {

}

.video-list:focus {
  outline: 0;
}

.video-list--container {
  position: absolute;

  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;

  z-index: 10;
}

.video-list--flex:focus {
  outline: 0;
}

.video-list--flex {
  height: 100%;

  padding: 0px;
  margin: 0px 5px 0px 5px;

  align-items: center;
  display: flex;

  margin: auto;

  flex-flow: row wrap;

  justify-content: space-around;
}

.video-list-item {
  
}

.video-list-item--flex {
  align-self: auto;
}

.video-list-item--flex__large {
  flex-basis: 20%;
}

.video-list-item--flex__small {
  flex-basis: 10%;
}

.video-list-item--flex__xs {
  flex-basis: 7%;
}

.video-list-item--highlight {
  border-radius: 5px;
  border: 4px solid #ff4d4d;
}