 <!-- Include Style Sheets -->
 <link rel="stylesheet" type="text/css" href="styles/app.css">

 <!-- Include JavaScript Files -->
 <script type="text/javascript" src="js/ds.js"></script>
 <div id="fs">
  <div id="menu">TESTING - DO NOT REMOVE</div>
  <div id="buttons">
    <button id="vidpause">Pause</button>
    <button id="menuSlide">Menu</button>
  </div>
  {{full-screen}}
  {{outlet}}
</div>
