<!DOCTYPE html>
<!--
 * Science Mine Digital Signage Project
 * CSS for DS Project
 * Phillip J. Curtiss, PhD
 * Science Mine Board Member
 * (C) 2016 Science Mine, Inc.
 * All Rights Reserved
 -->
<html lang="en">
  <head>
   <title>Science Mine Digital Signage</title>
   <meta charset="utf-8">

   <!-- Include Shiv for older IE browsers to support html5 -->
   <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js">
    </script>
   <![endif]-->

   <!-- Include Style Sheets -->
   <link rel="stylesheet" type="text/css" href="styles/app.css">
  </head>

  <body>
    <div>
      <video id="bgvid" autoplay playsinline loop>
        <source src="videos/{{model.items.[0].url}}" type="video/mp4">
      </video>
    </div>
  </body>
</html>