<div class="video-player__background--container">
  {{video-player class='video-player__darken' playing=(if videoPlaying false true) looping=true url=data.videos.[2].fileName}}
</div>

{{#if displayVideo}}
  <div class="video-player__fullscreen">
    {{video-player playing=videoPlaying muted=true url=video.fileName onSelectedCallback=(action 'togglePlayback')}}
  </div>
{{/if}}

{{#if displayVideoSelect}}
  <div class="video-list--container">
    {{video-list keyboard=data.config.keyboard data=data.videos focus=displayVideoSelect class='video-list--flex' onSelectedCallback=(action 'updateVideo')}}
  </div>
{{/if}}

{{yield}}
