<div class="video-player__background--container">
  {{!video-player
    onEndedCallback=(action 'cycleBackground')
    muted=displayVideoSelect
    class=(if displayVideo 'video-player__hidden' 'video-player__darken')
    playing=(if displayVideo false true)
    url=(make-local-url data.config.modelIdentifier backgroundVideoUrl)
  }}
</div>

{{#if displayVideoSelect}}
    {{!video-list
      onSelectedCallback=(action 'videoSelected')
      onCancelledCallback=(action 'cancelPressed')
      onInputCallback=(action 'resetTimeout')
      selectedVidPos=0
      class="video-list video-list--flex"
      listItemClass="video-list-item--flex"
      listItemSmall="video-list-item--flex__small"
      listItemSelected="video-list-item--selected"
      listItemHighlight="video-list-item--highlight"
      keyboard=data.config.keyboard
      videos=selectionVideos
      modelIdentifier=data.config.modelIdentifier
      focus=displayVideoSelect
    }}
{{/if}}

{{#if showAfterVideoList}}
  {{after-video-list
    onInputCallback=(action 'doNothing')
    videoSelectedCallback=(action 'doNothing')
    data=afterVideoListData
    config=data.config
  }}
{{/if}}

{{!-- {{#if displayVideo}}
  <div class="video-player__fullscreen">
    {{video-player
      onClickCallback=(action 'videoSelected' bubbles=false)
      onHoverCallback=(action 'doNothing')
      onEndedCallback=(action 'videoEnded')
      playing=videoPlaying
      muted=false
      url=video
      videoPos=backgroundVideoPos
    }}
  </div>
{{/if}} --}}

{{menu-bar
  onClickCallback=(action 'videoSelected')
  popoverShowDelay=data.config.ui.popoverShowDelay
  config=data.config
  videos=selectionVideos
  attributes=data.attributes
}}

{{yield}}
