<h4 class="list-group-item-heading">{{name}}</h4>

<p class="list-group-item-text">{{description}}</p>

<div class="player-container">
  {{video-player
    isMuted=muted
    onClickCallback=(action 'doNothing')
    onHoverCallback=(action 'doNothing')
    onEndedCallback=(action 'cycleVideo')
    url=(concat modelIdentifier "/" playingVid.teaser.fileIdentifier)
    looping=(is-single-video videos)
  }}
</div>
