<h4 class="list-group-item-heading">{{name}}</h4>
<<<<<<< Updated upstream
<p class="list-group-item-text">
  {{description}}
</p>
<button type="button" class="btn btn-warning">Edit</button>
=======

<p class="list-group-item-text">{{description}}</p>
>>>>>>> Stashed changes
