{{yield}}

{{#each-in videos as |key value|}}

  <div class="{{listItemClass}} {{if (video-selected key selectedVidPos) (selected-style listItemLarge listItemHighlight) listItemSmall}}">
    {{video-player muted=(if (video-selected key selectedVidPos) false true) playing=true looping=true url=(make-local-url modelIdentifier value.fileIdentifier value.teaserStart value.teaserEnd) onClickCallback=(action onClickCallback) onSelectedCallback=(action 'videoSelected')}}
  </div>

{{/each-in}}