<div class={{playerSize}}>
	{{!A}}
	{{video-player 
		class=(unless showVidA "hidden")
		playing=showVidA
		highlightedStyle=(concat stackStyle " " borderStyle) 
		looping=(is-single-video videos) 
		videoPos=selectedVidAPos 
		videoId=vidAid
		muted=isMuted
		onClickCallback=(action 'stackClicked') 
		onHoverCallback=(action 'stackHovered') 
		onEndedCallback=(action 'getNextVideoA')
	}}

	{{!B}}
	{{#unless (is-single-video videos)}}
		{{video-player 
		class=(if showVidA "hidden")
		playing=(unless showVidA true)
		highlightedStyle=(concat stackStyle " " borderStyle) 
		looping=false
		videoPos=selectedVidBPos 
		videoId=vidBid
		muted=isMuted
		onClickCallback=(action 'stackClicked') 
		onHoverCallback=(action 'stackHovered') 
		onEndedCallback=(action 'getNextVideoB')
		}}
	{{/unless}}	
</div>

{{yield}}
