<div class={{playerSize}}>
  {{video-player class=(if selected "border") highlightedStyle=stackStyle isMuted=isMuted url=(make-local-url modelIdentifier curVideo.teaser.fileIdentifier) onClickCallback=(action 'stackClicked') onHoverCallback=(action 'hover') onEndedCallback=(action 'getNextVid')}}
</div>

{{yield}}