<div class={{playerSize}}>
{{!A}}
	{{video-player 
	class=(unless showVidA "hidden")
	playing=showVidA
	highlightedStyle=(string-append stackStyle borderStyle) 
	looping=(is-single-video videos) 
	videoPos=selectedVidAPos 
	muted=isMuted
	url=(if videoA.teaser.isUrl videoA.teaser.fileIdentifier (make-local-url modelIdentifier videoA.teaser.fileIdentifier)) 
	onClickCallback=(action 'stackClicked') 
	onHoverCallback=(action 'stackHovered') 
	onEndedCallback=(action 'getNextVideoA')
	}}

{{!B}}
{{#unless (is-single-video videos)}}
	{{video-player 
	class=(if showVidA "hidden")
	playing=(if showVidA false true)
	highlightedStyle=(string-append stackStyle borderStyle) 
	looping=(is-single-video videos) 
	videoPos=selectedVidBPos 
	muted=isMuted
	url=(if videoB.teaser.isUrl videoB.teaser.fileIdentifier (make-local-url modelIdentifier videoB.teaser.fileIdentifier)) 
	onClickCallback=(action 'stackClicked') 
	onHoverCallback=(action 'stackHovered') 
	onEndedCallback=(action 'getNextVideoB')
	}}
{{/unless}}	
</div>

{{yield}}
