{{#each-in data as |key value|}}

  <div class="video-list-item--flex {{if (video-selected key selectedVidPos) "video-list-item--highlight video-list-item--flex__large" "video-list-item--flex__small"}}">
    {{video-player playing=false looping=true url=value.fileName onSelectedCallback=(action 'videoSelected')}}
  </div>

{{/each-in}}