<div class="model-edit--title page-header">
  <h1>{{model.modelData.config.prettyName}} <small>{{model.modelData.config.description}}</small></h1>
</div>

{{generic-form class="generic-form--center generic-form--dark generic-form--rounded" data=model.modelConfig.videos.data.video}}

{{outlet}}
