<div class="model-select">
  <div class="model-select--title page-header">
    <h1>Exhibit Selection <small>Select an exhibit to edit below</small></h1>
  </div>
  <div class="model-select--panel panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Select an exhibit</h3>
    </div>

    <ul class="list-group">
      {{#each-in model.models as |key value|}}
        {{model-select-element
          modelfile=value.fileName
          name=value.config.prettyName
          description=value.config.description
          version=model.version
        }}
      {{/each-in}}
      {{model-select-element
        modelfile="ModelSkeleton"
        name="Add Exhibit"
        description="Creates a new exhibit to be added to the list"
        version=model.version
      }}
      <li class="list-group-item model-select-element">
          <h4 class="list-group-item-heading">Upload Existing Model</h4>
          
          <p class="list-group-item-text">Upload an existing model that is not listed to edit.</p>
          
          {{input type="file" id="fileUpload" onchange=(action 'fileUpload')}}
      </li>
    </ul>
  </div>
</div>
